/* 
Eric Meyer's CSS Reset -- http://meyerweb.com/eric/tools/css/reset/ -- v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------ END OF CSS RESET ------------ */
/* ------------ END OF CSS RESET ------------ */
/* ------------ END OF CSS RESET ------------ */



/* 
------------ COLOR PALLET ------------ 
Dark Blue: #003366;
Dark Red: #9e2a0b;
Light Tan: #f1eedd;
Nav Medium Tan: #d4ab6a;
Text Dark Tan: #b28835;
Text Gray: #636363;
Light Gray: #dedede;
Payments Text Green: #76943e;
Payments Bar Green: #e3f2c7;
Weather Bar Red: #f8cbbd;
--------------------------------------
*/

/*container{
	width: 80%; /*960px/1200px;*/
	/*background-color: #fff;
}*/

body{
	font: 13px/1.5 arial, sans-serif; /*14px*/
	color: #636363;
	max-width: 960px; /*80%; /*960px/1200px*/
	height: 100%;
	margin: 0% auto;
	padding: 0%;
	background-color: #f1eedd;
	background-image: url('../images/headerbg_10x140.png');
	background-repeat: repeat-x;
}

#whitebox{
	background-color: #fff;
	width: 960px; /*100%; /*960px/960px*/
	position: relative;
	top: 11px; /*1.145833333333%; 11px/960px*/
	box-shadow: 0px 0px 3px #dedede;
	overflow: auto;
}

a{
	color: #003366;
	text-decoration: none;
	padding: 0%;
}


/* --- Header --- */

header{
	width: 960px; /*100%; /*960*/
	padding: 12px 0% 0% 10px; /*1.25% 0% 0% 1.041666666667%; /*12px 0px 0px 10px /960px*/
}

header h1{
	font: 44px palatino, serif; /*px*/
	color: #fff;
	display: inline;
	padding: 18px 0% 0% 0%; /*1.875% 0% 0% 0%; /*18px 0px 0px 0px /960px*/
	float: left;
}

#seal{
	padding: 0% 20px 0% 0%; /*2.083333333333% / 0px 20px 0px 0px /960px*/
	display: inline;
	float: left;
}



/* --- Navigation --- */

nav{
	width: 940px; /*97.916666666667% / 940px/960px*/
	float: left;
	margin: 0% 10px; /*1.041666666667% / 0px 10px /960px*/
	padding: 0%;
	list-style: none;
	background-color: #d4ab6a;
	position: relative;
	top: 6px;
	background-image: url('../images/navbarbg_10x35.jpg');
	background-repeat: repeat-x;
}

nav ul{
	width: 840px; /*89.36170212766%; / 840px/960px*/
	margin: 0% 50px; /*5.208333333333% / 0% 50px/960px*/
	padding: 0%;
	overflow: hidden;
}

nav ul li{
	width: 140px; /*16.666666666667% / 140px/840px*/
	display: inline;
	float: left;
}

nav li a{
	display: block;
	padding: 10px 20px 5px;
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	text-shadow: 1px 1px 1px #b28835;
	font: 18px palatino, serif; /*px*/
	text-align: center;
}

.home{
	color: #fff;
	text-shadow: 1px 1px 1px #9e2a0b;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.png');
	background-repeat: repeat-x;
}

.contacts{
	color: #fff;
	text-shadow: 1px 1px 1px #9e2a0b;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.png');
	background-repeat: repeat-x;
}

nav li a:hover{ 
	color: #fff;
	text-shadow: 1px 1px 1px #9e2a0b;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.png');
	background-repeat: repeat-x;
}

nav li a:active{ 
	color: #fff; 
	text-shadow: 1px 1px 1px #9e2a0b;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.png');
	background-repeat: repeat-x;
}




/* --- Main Content Center --- */
#maincontent{
	background-color: #fff;
	float: left;
	width: 700px; /*72.916666666667% / 700px/960px*/
	height: 100%;
	margin: 0 auto;
	padding: 20px; /*2.083333333333% / 20px/960px*/
	box-shadow: 3px 0px 3px #dedede;
}

article h1{
	font-size: 18px;
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #000;
}

article h2{
	font-size: 16px;
	font-family: Palatino, serif;
	font-weight: bold;
	color: #9e2a0b;
	padding: 10px 0px 0px 0px;
}

article h3{
	font-size: 14px;
	color: #000;
	padding: 10px 0px 0px 0px;
}

hr{
	width: 600px;
	color: #dedede;
	float: left;
}



/* --- Form --- */

input{
	width: 250px;
	height: 20px;
	font-size: 12px;
	margin: 10px;
	background-color: #f1eedd;
	border: 1px solid #dedede;
}

label{
	display: block;
	width: 100px;
	float: left;
	padding: 5px 0px;
}

select{
	width: 250px;
	height: 20px;
	font-size: 12px;
	background-color: #f1eedd;
	border: 1px solid #dedede;
	margin: 10px;
	display: inline;	
}

textarea{
	width: 490px;
	height: 120px;
	background-color: #f1eedd;
	border: 1px solid #dedede;
	margin: 10px;
}

textarea:focus, input:focus{
	border: 1px solid #003366;
}

button{
	width: 125px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	font-family: palatino, serif;
	margin: 10px 0px 20px;
	padding: 5px 10px;
	height: 35px;
	border: 1px solid #9e2a0b; 
	background-image: url('../images/navselector_10x35.png');	
}

table{
	border-collapse: collapse;
	border: none;
	box-shadow: 0px 0px 5px #dedede;
	background-color: #fff;
	margin: 20px 0px 20px 0px;
	width: 600px;
	float: left;
}

td {
	font-size: 12px;
	color: #636363;
	border: none;
	padding: 0.4em 0em 0.4em 1em;
}

th {
	text-align: left;
	background-color: #003366;
	padding: 5px;
	color: #fff;
	padding: 0.4em 0em 0.4em 1em;
}

.odd_row {
	background-color: #f1eedd;
}




/* --- Aside Right Side Bar --- */

#aside{
	background-color: none;
	float: right;
	width: 220px; /*22.91666666667% / 220px/960px*/
	height: 100%;
}

aside h4{
	padding: 0px 20px 0px 10px;/*0% 2.083333333333% 0% 1.041666666667%; /*0px 20px 0px 10px /960px*/
}

aside p{
	font-size: 12px;
	padding: 0px 20px 0px 10px;/*0% 2.083333333333% 0% 1.041666666667%; /*0px 20px 0px 10px /960px*/
}

.payments{
	background-color: #e3f2c7;
	margin: 20px 0px 5px 0px; /*9.090909090909% 0% 2.272727272727% 0%; /220px*/
	width: 100%; /*220px/220px*/
}

.payments h3{
	color: #76943e;
	font-size: 16px;
	padding: 0px 20px 0px 10px; /*0% 9.090909090909% 0% 4.545454545455%; /220px*/
}

.weather{
	background-color: #f8cbbd;
	margin: 20px 0px 5px 0px; /*9.090909090909% 0% 2.272727272727% 0%; /220px*/
	width: 220px; /*100%; /220px*/
}

.weather h3{
	color: #9e2a0b;
	font-size: 16px;
	padding: 0px 20px 0px 10px; /*0% 9.090909090909% 0% 4.545454545455%;/* /220px*/
}

.forcast{
	color: #000;
}

.temps{
	font-size: 18px;
	font-weight: bold;
	color: #000;
}



/* --- Footer --- */

/*#footer{
	width: 960px;
	background-color: #fff;
}*/

footer{
	color: #fff;
	text-align: center;
	width: 940px; /*97.916666666667%; /*940px/960px*/
	padding: 20px 10px; /*2.127659574468% 1.063829787234%; /940px*/
	clear: both;
	background-color: #003366;
	position: relative;
	top: 9px; /*0.957446808511%; /*9px/940px*/
}

footer ul{
	width: 730px; /*100%; /*78.191489361702%; /*735px/940px*/
	margin: 0% 0%;
	padding: 0%;
	overflow: hidden;
	float: left;
}

footer ul li{
	display: inline;
	float: left;
	padding: 0px 15px 15px 0px; /*0% 1.595744680851% 1.595744680851% 0%; /940px*/
}

footer li a{
	display: block;
	text-decoration: none;
	color:#fff;
	font: 13px palatino, serif;
	text-align: left;
	text-transform: uppercase;
}

#footernav{
	float: left;
}

#socialnetworks{
	float: right;
	width: 210px; /*22.340425531915%; /*210px/940px*/ /*21.808510638298%; 205px/940px*/
	display: inline;
	text-align: left;
}

#socialnetworks ul li{
	display: inline;
	float: left;
	padding: 0px 10px 0px 0px; /*0% 1.063829787234% 0% 0%; /*0px 10px 0px 0px /940px*/
	font: 13px palatino, serif;
	text-align: right;
	text-transform: uppercase;
}

#socialnetworks li a{
	display: block;
}

footer p{
	color: #fff;
	font: 13px palatino, serif;
	text-align: left;
	padding: 0px 0px 10px 0px; /*0% 0% 1.063829787234% 0%; /*0px 0px 10px 0px /940px*/
}

footer hr{
	color: #d4ab6a;
	background-color: #d4ab6a;
	width: 100%;
}

#copyright{
	clear: both;
	width: 100%;
}

#copyright p{
	font-family: arial, sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 10px 0px; /*1.063829787234% 0%; /*10px 0px /940px*/
}