/* 
Eric Meyer's CSS Reset -- http://meyerweb.com/eric/tools/css/reset/ -- v1.0 | 20080212
CSSresetr.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------------ END OF CSS RESET --------------------------------------------------- */




/* 
------------ COLOR PALLET ------------ 
Dark Blue: #003366;
Dark Red: #9e2a0b;
Dark Red Shadow: #922309;
Weather Bar Red: #f8cbbd;
Light Tan: #f1eedd;
Nav Medium Tan: #d4ab6a;
Text Dark Tan: #b28835;
Text Gray: #636363;
Light Gray: #dedede;
Payments Text Green: #76943e;
Payments Bar Green: #e3f2c7;
*/

body{
	font: .813em/1.5 arial, sans-serif; /*13px*/
	color: #636363;
	max-width: 960px; /*960px;*/
	height: 100%;
	margin: 0% auto;
	padding: 0%;
	background-color: #f1eedd;
	background-image: url('../images/headerbg_10x140.png');
	background-repeat: repeat-x;
}

#whitebox{
	background-color: #fff;
	width: 100%; /*960px*/
	overflow: hidden;
	border-top: 5px solid #9e2a0b;
}

a{
	color: #003366;
	text-decoration: none;
	padding: 0%;
}


/* --- Header --------------------------------------------------- */

header{
	max-width: 100%; /*960px*/
	height: 88px;
	padding: 12px 0% 0% 1.041666666667%; /*10px/960px*/
}

header h1{
	font: 3.385em palatino, serif; /*44px*/
	color: #fff;
	display: inline;
	padding: 18px 0% 0% 0%;
	float: left;
}

#search{
	width: 22.916666666667%; /*220px/960px*/
	float: right;
	border-collapse: collapse;
	border: none;
	margin: 0%;
}

header input{
	width: 68.181818181818%; /*150px/220px*/
	height: 18px;
	font-family: arial, sans-serif;
	font-size: 1em; /*13px*/
	padding: 0px 0px 0px 5px;
	background-color: #fff;
	border: 1px solid #dedede;
	box-shadow: 0 3px 5px #dedede inset;
	float: left;
}

header button{
	display: inline;
	background-color: #d4ab6a;
    background: -webkit-gradient(linear, left top, left bottom, from(#d4ab6a), to(#b28835));
    background: -webkit-linear-gradient(top, #d4ab6a, #b28835);
    background: -moz-linear-gradient(top, #d4ab6a, #b28835);
    background: -ms-linear-gradient(top, #d4ab6a, #b28835);
    background: -o-linear-gradient(top, #d4ab6a, #b28835);
    background: linear-gradient(top, #d4ab6a, #b28835);
    border: 1px solid #b28835;
    border-bottom: 1px solid #d4ab6a;
	width: 13.636363636364%; /*30px/220px*/
	height: 20px;
	float: left;
	margin: 0% 4.545454545455%; /*10px/220px*/
}

.search{
	color: #fff;
	font-family: palatino, serif;
	font-size: 0.923em; /*12px*/
	font-weight: bold;
	text-align: center;
	padding: 0 3px;
}

#seal{
	padding: 0% 2.083333333333% 0% 0%; /*20px/960px*/
	display: inline;
	float: left;
}

#seal img{
	max-width: 100%;
}



/* --- Navigation --------------------------------------------------- */

nav{
	width: 97.916666666667%; /*940px/960px*/
	float: none;
	margin: 0% 1.041666666667%; /*10px/960px*/
	padding: 0%;
	list-style: none;
	background-color: #d4ab6a;
	background-image: url('../images/navbarbg_10x35.jpg');
	background-repeat: repeat-x;
}

nav ul{
	max-width: 89.36170212766%; /*840px/940px*/
	margin: 0% 5.31914893617%; /*50px/940px*/
	padding: 0%;
	float: none;
	overflow: hidden;
}

nav ul li{
	width: 16.666666666667%; /*140px/840px*/
	display: inline;
	float: left;
}

nav li a{
	display: block;
	padding: 7.142857142857% 14.285714285714% 3.571428571429%; /*10px 20px 5px / 140px*/
	text-decoration: none;
	font-weight: bold;
	color:#fff;
	text-shadow: 1px 1px 1px #b28835;
	font: 1.385em palatino, serif; /*18px*/
	text-decoration: none;
	text-align: center;
}

/* --- Navigation Selector --- */
.home{
	color: #fff;
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}

.events{
	color: #fff;
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}

.community{
	color: #fff;
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}

.government{
	color: #fff;
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}

.departments{
	color: #fff;
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}

.contacts{
	color: #fff;
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}

/* --- Navigation State --- */
nav li a:hover{ 
	color: #fff;
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}

nav li a:active{ 
	color: #fff; 
	text-shadow: 1px 1px 1px #922309;
	background-color: #9e2a0b; 
	background-image: url('../images/navselector_10x35.gif');
	background-repeat: repeat-x;
}




/* --- Aside Left Side Bar --------------------------------------------------- */
#leftbar{
	background-color: #fff;
	float: left;
	width: 21.875%; /*210px/960px*/
	height: 100%;
	margin: 0% auto;
	padding: 2.083333333333%; /*20px/960px*/
	text-align: right;
}

aside h3{
	font-size: 1.231em; /*16px*/
	color: #b28835;
	padding: 0% 0% 4.761904761905% 0%; /*0px 0px 10px 0px / 210px*/
}

aside h4{
	font-size: 0.923em; /*12px;*/
	color: #003366;
	padding: 0%;
	width: 100%; /*210px/210px*/
}

aside h5{
	font-size: 0.923em; /*12px;*/
	font-style: italic;
	color: #b28835;
	padding: 0%;
}

aside p{
	font-size: 0.923em; /*12px;*/
	color: #636363;
}

aside hr{
	color: #dedede;
	background-color: #dedede;
	border: #dedede;
	height: 1px;
	margin: 4.761904761905% 0% 4.761904761905% 0%; /*10px 0px 10px 0px / 210px*/
}



/* --- Main Content Center --------------------------------------------------- */

#maincontent{
	background-color: #fff;
	float: left;
	width: 48.958333333333%; /*470px/960px*/
	height: 100%;
	margin: 0 auto;
	padding: 0% 2.083333333333% 2.083333333333% 0%; /*20px/960px*/
	box-shadow: 3px 0px 3px #dedede;
}

#maincontent img{
	max-width: 100%
}

#thumbnails img{
	max-width: 100%;
	padding: 2.127659574468% 2.127659574468% 2.127659574468% 0%; /*10px 10px 10px 0px / 470px*/
}

article{
	padding: 0% 0% 0% 4.255319148936%; /*20px/470px*/
}

article h1{
	font-size: 1.385em; /*18px*/
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #000;
	padding: 4.255319148936% 0% 0%; /*20px/470px*/
}

article h2{
	font-size: 1.231em; /*16px*/
	font-family: Palatino, serif;
	font-weight: bold;
	color: #9e2a0b;
	padding: 2.127659574468% 0%; /*10px/470px*/
}

article img{
	max-width: 100%; /*100px/470px*/
	float: left;
	border: solid 5px #fff;
	-moz-box-shadow: 0px 0px 5px #999;
	-webkit-box-shadow: 0px 0px 5px #999;
    box-shadow: 0px 0px 5px #999;
    margin: 0% 2.127659574468% 2.127659574468% 0%; /*10px/470px*/
}

article hr{
	color: #dedede;
	background-color: #dedede;
	border: #dedede;
	height: 1px;
	margin: 8.510638297872% 0% 2.127659574468% 0%; /*40px 10px/470px*/
}



/* --- Contacts Page --------------------------------------------------- */

#contact_main{
	background-color: #fff;
	float: left;
	width: 77.083333333333%; /*740px/960px*/
	height: 100%;
	margin: 0 auto;
	padding: 0%;
	box-shadow: 3px 0px 3px #dedede;
}

.contact h1{
	font-size: 1.385em; /*18px*/
	font-family: arial, sans-serif;
	font-weight: bold;
	color: #000;
}

.contact h2{
	font-size: 1.231em; /*16px*/
	font-family: Palatino, serif;
	font-weight: bold;
	color: #9e2a0b;
	padding: 1.351351351351% 0% 0% 0%; /*10px/740px*/
}

.contact h3{
	font-size: 1.077em; /*14px*/
	color: #000;
	padding: 1.351351351351% 0% 0% 0%; /*10px/740px*/
}

#contact_main hr{
	width: 81.081081081081%; /*600px/740px*/
	height: 1px;
	color: #dedede;
	background-color: #dedede;
	border: #dedede;
	margin: 1.351351351351% 2.702702702703%; /*10px 20px/740px*/
}

/* --- Form --- */

.contact input{
	width: 33.783783783784%; /*250px/740px*/
	height: 2.702702702703%; /*20px/740px*/
	font-size: 0.923em; /*12px*/
	margin: 1.351351351351%; /*10px/740px*/
	background-color: #f1eedd;
	border: 1px solid #dedede;
}

.contact label{
	display: block;
	width: 13.513513513514%; /*100px/740px*/
	float: left;
	padding: 5px 0%;
}

.contact select{
	width: 33.783783783784%; /*250px/740px*/
	height: 2.702702702703%; /*20px/740px*/
	font-size: 0.923em; /*12px*/
	background-color: #f1eedd;
	border: 1px solid #dedede;
	margin: 1.351351351351%; /*10px/740px*/
	display: inline;	
}

.contact textarea{
	width: 66.216216216216%; /*490px/740px*/
	height: 16.216216216216%; /*120px/740px*/
	background-color: #f1eedd;
	border: 1px solid #dedede;
	margin: 1.351351351351%; /*10px/740px*/
}

.contact textarea:focus, input:focus{
	border: 1px solid #003366;
}

.contact button{
	width: 16.891891891892%; /*125px/740px*/
	color: #fff;
	font-weight: bold;
	font-size: 1.077em; /*14px*/
	font-family: palatino, serif;
	margin: 1.351351351351% 0% 2.702702702703%; /*10px 0px 20px/740px*/
	padding: 5px 1.351351351351%; /*10px/740px*/
	height: 4.72972972973%; /*35px/740px*/
	border: 1px solid #9e2a0b; 
	background-image: url('../images/navselector_10x35.png');	
	background-color: #9e2a0b;
}

#table{
	background-color: #fff;
}

table{
	border-collapse: collapse;
	border: none;
	box-shadow: 0px 0px 5px #dedede;
	background-color: #fff;
	margin: 2.702702702703% 0% 5.405405405405% 2.702702702703%; /*20px 0px 40px 20px/740px*/
	width: 81.081081081081%; /*600px/740px*/
	float: left;
}

td{
	font-size: 0.923em; /*12px*/
	color: #636363;
	border: none;
	padding: 5px;
}

th{
	text-align: left;
	background-color: #003366;
	padding: 5px;
	color: #fff;
	padding: 0.4em 0em 0.4em 1em;
}

tr:nth-child(odd){
	background-color: #f1eedd;
}



/* --- Aside Right Side Bar --------------------------------------------------- */

#rightbar{
	float: right;
	width: 22.916666666667%; /*220px/960px*/
	height: 100%;
	text-align: left;
}

#rightbar h4{
	font-size: 1em; /*13px*/
	padding-left: 4.545454545455%; /*0px 0px 0px 10px/220px*/
}

#rightbar p{
	width: 100%;
	padding: 0% 9.090909090909% 0% 4.545454545455%; /*0px 20px 0px 10px/220px*/
}

.payments{
	width: 100%;
	background-color: #e3f2c7;
	margin: 9.090909090909% 0% 2.272727272727% 0%; /*20px 0px 5px 0px/220px*/
}

.payments h3{
	color: #76943e;
	font-size: 1.231em; /*16px*/
	padding: 0% 0% 0% 4.545454545455%; /*9.090909090909%/ 0% 0px 0% 10px/220px*/
}

.weather{
	width: 100%;
	background-color: #f8cbbd;
	margin: 9.090909090909% 0% 2.272727272727% 0%; /*20px 0px 5px 0px/220px*/
}

.weather h3{
	color: #9e2a0b;
	font-size: 1.231em; /*16px*/
	padding: 0% 0% 0% 4.545454545455%; /*0% 0px 0% 10px/220px*/
}

.forcast{
	color: #000;
}

.temps{
	font-size: 1.385em; /*18px*/
	font-weight: bold;
	color: #000;
}



/* --- Footer --------------------------------------------------- */

footer{
	color: #fff;
	text-align: center;
	width: 97.916666666667%; /*940px/960px*/
	padding: 2.127659574468% 1.063829787234%; /*20px 10px;/940px*/
	clear: both;
	background-color: #003366;
}

footer ul{
	width: 90%; /*77.659574468085%; /*730px/940px*/
	margin: 0% 0%;
	padding: 0%;
	overflow: hidden;
	float: left;
}

footer ul li{
	display: inline;
	float: left;
	padding: 0% 2.054794520548% 2.054794520548% 0%; /*0px 15px 15px 0px/730px*/
}

footer li a{
	display: block;
	text-decoration: none;
	color:#fff;
	font: 1em palatino, serif; /*13px*/
	text-align: left;
	text-transform: uppercase;
}

#footernav{
	width: 75%; /*77.659574468085%; /*730px/940px*/
	float: left;
}

#socialnetworks{
	float: right;
	width: 22.340425531915%; /*210px/940px*/
	display: inline;
	text-align: left;
}

#socialnetworks ul{
	width: 100%;
}

#socialnetworks ul li{
	display: inline;
	font: 1em palatino, serif; /*13px*/
	text-align: right;
	text-transform: uppercase;
}

#socialnetworks li a{
	display: block;
}

footer p{
	clear: both;
	width: 100%;
	color: #fff;
	font: 1em palatino, serif; /*13px*/
	text-align: left;
	padding: 0 0 1.063829787234% 0; /*0px 0px 10px 0px /940px*/
}

footer hr{
	color: #d4ab6a;
	background-color: #d4ab6a;
	border: #d4ab6a;
	height: 2px;
	width: 100%;
}

footer #copyright{
	clear: both;
	width: 100%;
}

footer #copyright p{
	font-family: arial, sans-serif;
	font-size: 0.923em; /*12px*/
	text-align: center;
	padding: 1.063829787234% 0%; /*10px 0px /940px*/
}




/* Media Queries ---------------------------------- */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	/* Styles */

		header{ height: auto; background-color: #003366; background-image: none; }
		
		header h1{ font-size: 2.308em; padding: 18px 0px 0px 0px; } /*30px/13px*/
		
		#search{ float: none; width: 100%; margin: 20px 0%; }
		
		header input{ width: 50%; margin: 20px 2% 10px 0%; }
		
		header button{ width: 10%; margin: 20px 0%; }
		
		#seal img{ width: 75%; padding: 5%;}
		
		h2, h3, h4, h5{ font-family: arial, sans-serif; }
		
		h2{ font-size: 1.077em; /*14px/13px*/ }

		h3{ font-size: 1em; /*13px/13px*/ }
		
		h4{ font-size: 0.923em; /*12px/13px*/ }
		
		h5{ font-size: 0.923em; /*12px/13px*/ }
		
		#whitebox{ padding: 0 0 20px 0; }
		
		nav{ clear: both; width: 100%; height: 25px; background-image: none; background-color: #d4ab6a; margin: 20px 0 0 0; }
		
		nav ul{ width: 100%; padding: 0;}
		
		nav li a{ font-size: 0.769em; /*10px*/ text-transform: uppercase; font-weight: bold; padding: 5px; }
		
		.home, .events, .community, .government, .departments, .contacts{ background-image: none; height: 25px; }
		
		nav li a:hover{ background-image: none; height: 18px; }

		nav li a:active{ background-image: none; height: 18px; }

		body, p{ font-family: 0.846em/1.5 arial, sans-serif; }
		
		.caption, #thumbnails img{ display: none; }
		
		#maincontent, #contact_main, #rightbar{ float: none; width: 100%; box-shadow: 0px 0px 0px; }
		
		#leftbar{ display: none; }
		
		#maincontent{ margin: 0 auto; }
				
		article{ padding-right: 20px; }
		
		article img{ width: 15%; }
		
		#maincontent hr{ width: 100%; margin: 10px 0px; }
		
		#contact_main hr{ width: 100%; margin: 10px; }
		
		.contact label{ width: 25%; }
		
		.contact input, .contact select{ width: 60%; margin: 10px 0px; }
		
		.contact textarea{ width: 85%; margin: 10px 0px;}
		
		.contact button{ width: 85%; height: 25px; background-image: none; }
		
		.contact button a{ font-size: 1em; }
		
		table{ width: 90%; font-size: 0.846em; margin: 20px; }
		
		#rightbar .payments{ margin: 10px 0px; }
		
		#rightbar .weather{ margin: 10px 0px; }
		
		#footernav, #socialnetworks{ width: 100%; float: none; margin: 5px 0px; }
		
		#socialnetworks img{ width: 80%; }
}

/* Mobile Landscape Size to Tablet Portrait Size (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	/* Styles */
		header{ height: auto; background-color: #003366; }
		
		header h1{ font-size: 3.077em; }
		
		h2, h3, h4, h5{ font-family: arial, sans-serif; }
		
		h2{ font-size: 1.231em; /*16px/13px*/ }

		h3{ font-size: 1.077em; /*14px/13px*/ }
		
		h4{ font-size: 0.923em; /*12px/13px*/ }
		
		h5{ font-size: 0.923em; /*12px/13px*/ }
		
		body, p{ font-family: 0.846em/1.5 arial, sans-serif; }
		
		#whitebox{ padding: 0 0 20px 0; }
		
		nav{ clear: both; width: 100%; height: 30px; background-color: #d4ab6a; margin: 0%; }
		
		nav ul{ width: 100%; padding: 0%; }
		
		nav li a{ font-size: 1.231em; padding: 5px; } /*16px*/
		
		.home, .events, .community, .government, .departments, .contacts{ height: 30px; }
		
		nav li a:hover{ background-image: none; height: 25px; }

		nav li a:active{ height: 25px; }
		
		.caption, #thumbnails img{ display: none; }
		
		#maincontent{ width: 65%; } /*470/725*/
		
		#contact_main{ width: 64%; } /*470/725*/
		
		#leftbar{ display: none; }
		
		#maincontent{ margin: 0; padding-left: 20px;}
		
		article{ margin: 0 auto; padding: 0; }
		
		#contact_main{ padding: 0px 20px; }
		
		.contact label{ width: 25%; }
		
		#contact_main hr{ width: 100%; margin: 10px 0%; }
		
		.contact input, .contact select{ width: 60%; margin: 10px 0px; }
		
		.contact textarea{ width: 85%; margin: 10px 0px;}
		
		.contact button{ width: 85%; height: 30px; }
		
		.contact button a{ font-size: 1em; }
		
		table{ width: 100%; font-size: 0.923em; margin: 10px 20px 30px 0px; }
		
		#rightbar{ margin: 0; width: 30%; } /*255/725*/
		
		#rightbar .payments, #rightbar .weather{ margin: 20px 0px 10px; }
		
		#footernav, #socialnetworks{ width: 100%; clear: both; margin: 5px 0px; }
}
	

/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media screen and (min-width: 768px) and (max-width: 959px) {
	/* Styles */
		header h1{ font-size: 3.077em; }
}